
/* GENERAL */

body {
    /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1F2039;
}
* {
    margin: 0;
}
a {
    color:black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    color: #A5B4FC;}
h2{
        color: #F9F8FF;
}
p,li{
        font-family: 'Manrope', sans-serif;
        font-size: 1.1em;
        color: #F9F8FF;
}
section{
    padding: 80px;
    margin: 70px;
}
em {
    color: #a5b4fc;
    font-style: normal;
}

/* FOOTER ET HEADER  */

footer, header{
    background-color: white;
    padding: 20px 50px 20px 50px;
}
footer img:hover, header img:hover{
    opacity: 0.5;
}
.menu{
    display: flex;
    justify-content: flex-end;
}
.menu a {
    margin: 0 50px;
    text-decoration: none;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.logo-footer a {
    margin: 0 20px;
}


/* ENCADRE VIOLET */

div .violet, .texte-accueil .violet {
    background: linear-gradient(#8e86b5, #acaeed);
    color: white;
    border-radius: 50px;
    padding: 20px 30px;
    display: inline-block; /* On le définit block, ce qui permet d'appliquer padding et margin mais aussi en inline pour le laisser à la suite*/
    margin-top: 20px; /* Espace au-dessus du bouton */
}
.violet:hover{
    background-color: linear-gradient(#696484, #8788BA);
    text-decoration: none;
}

/* PAGE ACCUEIL */

.description-accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Espace autour du contenu */
    gap: 170px; /* Espace entre les éléments flex */
}
.texte-accueil {
    max-width: 30%; /* Maximum 25% de la largeur du conteneur */
}
section[class="mon-dernier-projet"], section[class="portfolio-section-photos"]{
    background-color: white;
    margin: 0px;  /* Faire la toute largeur de la section blanche */
}
section[class="mon-dernier-projet"] h2 {
    color: #242424;
    padding-bottom: 30px;
    text-align: center;
    font-size: 2.4em;
}
.projet-photos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px; /* Espace autour du contenu */
    gap: 30px; /* Espace entre les éléments flex */
    flex-wrap: wrap;
}

/* PAGE A PROPOS */

.cadre{
    border-right: 1px #8e86b5 solid;
    border-bottom: 1px #8e86b5 solid;
    background-color: #1F2039;
    padding: 50px;
}
.cadre h2{
    margin-top: 30px;
}
.cadre ul{
    margin-top: 30px;
}
.a-propos-main {
    width: 50%;
    margin: auto;
}

/* PAGE POTRFOLIO */

.portfolio-section-photos h2 {
    color: #242424;
    margin-bottom: 80px;
    font-size: 2.4em;
}
.portfolio-section-photos h2:nth-of-type(2){  /* Ne s'applique qu'au 2eme h2 de la classe*/
    margin-top: 80px;
}
.grid-portrait img, .grid-voyage img {
    width: 100%;
    height: 100%;
    /* Même si vous ne connaissez pas cette propriété, vous en aurez besoin pour permettre aux images de respecter les dimensions de la grid CSS */
    object-fit: cover;
}
.grid-voyage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap:15px;
}
.grid-portrait{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
}
.lien-photo-portfolio{
    position: relative;
}
.voir-photo-hover{
    /*display: block; Convertit l'inline texte en un block dont on pourra donner la taille voulue (égale à celle de l'image */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none; /* On définit l'inscription "voir la photo" comme un block flex (on va pouvoir modifier sa taille) et sa position */
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s; /*Ajouter une transition pour un effet plus doux */
} 
.lien-photo-portfolio:hover .voir-photo-hover{ /*Au survol des photos, on fait réaparaitre le block "Voir la photo" sur la photo*/
    /* On applique le style au bloc .voir-photo-hover uniquement lorsque son parent .lien-photo-portfolio est survolé, il n'y a donc pas de virgule entre les deux*/
    display:flex;
}