/* PAGE ACCUEIL */

.description-accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Espace autour du contenu */
    gap: 170px; /* Espace entre les éléments flex */
}
.texte-accueil {
    max-width: 30%; /* Maximum 25% de la largeur du conteneur */
}
section[class="mon-dernier-projet"], section[class="portfolio-section-photos"]{
    background-color: white;
    margin: 0px;  /* Faire la toute largeur de la section blanche */
}
section[class="mon-dernier-projet"] h2 {
    color: #242424;
    padding-bottom: 30px;
    text-align: center;
    font-size: 2.4em;
}
.projet-photos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px; /* Espace autour du contenu */
    gap: 30px; /* Espace entre les éléments flex */
    flex-wrap: wrap;
}


.formulaire-contact h2{
    color: #A5B4FC;
    text-align: center;
    font-size: 2.4em;
    padding-bottom: 30px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: auto;
    width: 50%;
}
.identite-form {
    display: flex;
    justify-content: space-between; /* Sépare les conteneurs */
}

.identite-form label {
    margin-bottom: 0.2em; /* Espace entre le label et l'input */
}

.identite-form input {
    margin-bottom: 1em; /* Espace en-dessous de l'input */
    padding: 15px;
}
.identite-form{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px; /*Permet de modifier l'écart entre les 2 champs*/
} 
.message-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label{
    color: white;
    margin-bottom: 10px;
}
input, textarea{
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.champ {
    flex: 1; /* Permet aux champs de remplir l'espace équitablement */
    margin-right: 30px; /* Espacement à droite de chaque champ */
}

.champ:last-child {
    margin-right: 0; /* Assurez-vous que le dernier champ n'ait pas de marge à droite */
}

input[type="submit"]{
    background: linear-gradient(#8e86b5, #acaeed);
    color: white;
    width: 200px;
    border-radius: 50px;
    padding: 20px 30px;
    display: block; /* On le définit block, ce qui permet d'appliquer padding et margin mais aussi en inline pour le laisser à la suite*/
    margin-top: 30px; /* Espace au-dessus du bouton */
    margin-bottom: 30px; /* Espace en-dessous du bouton */
    margin-left: auto; /* Centrage du bouton */
    margin-right: auto; /* Centrage du bouton */
}
